     <div class="row">
        <div class="large-12 columns">
            <h1>Shows</h1>
            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
                <% if @show.present? %>
                    <% @show.each do |show| %>
                            <li>

                                <% poster = show.banner.where("banner_type = 'poster'").first %>
                                <% if !poster.nil? %> 
                                    <%= link_to(image_tag(poster.image_path), show) %>
                                <% end %>
                                <h3><%= link_to(show.name, show) %></h3>
                            </li>
                      <% end %>
                <% end %>
            </ul>
        </div>
    </div>
<br>

<%= link_to 'New Show', :action => 'new' %>