     <div class="row">
        <div class="large-12 columns">
            <h1>Shows</h1>
            <ul class="row">
                <% if @show.present? %>
                    <% @show.each do |show| %>
                            <li class='span3'>
                                <% poster = show.banner.where("banner_type = 'poster'").first %>
                                <% if !poster.nil? %>
                                    <%= link_to(image_tag(poster.image), show) %>
                                <% end %>
                                <h3 class='show-title'><%= link_to(show.name, show) %></h3>
                            </li>
                      <% end %>
                <% end %>
            </ul>
        </div>
    </div>
