// Place all the styles related to the Episode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fanart-overlay-episode{
	position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */   
    width:100%;
    height: 30%; 
    img{
		height: 100%;
		position:absolute;
		z-index: 20;
		float: left;
		padding-left: 20px;
		padding-bottom: 10px;
	}
}

.fanart-content-episode{  
    padding:10px;
    padding-left: 400px;  
    margin:0px;  
        h1 {
       color:white;     
    } 


}  